body {
    --background-color: #17b1a2;
    --wall-color: #200E3A;
    --joystick-color: #210124;
    --joystick-head-color: #f06449;
    --ball-color: #c39259;
    --end-color: #7d82b8;
    --text-color: #210124;
    --maze-color: #52D3D8;
    --icon-color: #ede6e3;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
  }
  
  html,
  body {
    margin: 0;
  }

  #outer {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  #maze {
    position: absolute;
    background-color: var(--maze-color);
    width: 1200px;
    height: 720px;
    margin: 10px;
  }

  .blur-element {
    position: absolute;
    top: 0;
    left: 0;
    /* Defines a grid */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* Makes the grid take the full size of the screen */
    width: 100%;
    height: 100%;
    /* Blur filter */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  #start-screen {
    background: #ffffff1f;
  }

  #death-screen {
    background: #ff00008e;
  }

  #win-screen {
    background: #00ff008e;
  }

  #play-button {
    background-color: #161616cc;
  }

  #replay-button {
    background-color: #ff4a4ae7;
  }

  .button {
    grid-area: 2 / 2 / 3 / 3;
    width: 5em;
    height: 5em;
    border-radius: 20%;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 9px #666666;
    cursor: pointer;
    margin: auto;
  }

  #play-button:active {
    background-color: #161616e7;
    box-shadow: 0 5px #333333;
    transform: translateY(4px);
    animation-play-state: paused;
  }

  #end {
    position: relative;
    border: 5px dashed var(--end-color);
    border-radius: 50%;
    margin: -32px;
    background-color: white;
  }
  
  @keyframes glow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  #ball {
    position: absolute;
    margin-top: -18px;
    margin-left: -18px;
    border-radius: 50%;
    background-color: var(--ball-color);
  }
  
  .wall {
    position: absolute;
    background-color: var(--wall-color);
    transform-origin: top center;
    margin-left: -5px;
  }
  
  .wall::before,
  .wall::after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
  }
  
  .wall::before {
    top: -7px;
  }
  
  .wall::after {
    bottom: -7px;
  }
  
  .black-hole {
    position: absolute;
    border-radius: 50%;
    transform-origin: center;
    background-image: radial-gradient(circle, #000000 40%, #333333 60%, #200E3A 100%);
    margin: -27px;
  }
  
  .icon {
    position: absolute;
    font-size: 5em;
    color: var(--icon-color);
    top: -15px;
  }

  .replay-icon {
    margin: auto auto;
  } 

  .text-box {
    margin: auto 10%;
    padding: 30px;
    font-size: 1em;
    color: var(--icon-color);
    text-align: center;
    background: rgba(0, 0, 0, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    align-items: center;
  }

  #explanation-text {
    grid-area: 3 / 1 / 4 / 4;
  }

  #win-text {
    grid-area: 2 / 2 / 3 / 3;
  }
